.sidebarLogoFade-enter-active {
    transition: opacity 1s;
}

.sidebarLogoFade-enter,
.sidebarLogoFade-leave-to {
    opacity: 0;
}

.sidebar-logo-container {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;

    & .sidebar-logo-link {
        @include flex(row, nowrap, center, center, center);
        width: 100%;
        height: 100%;

        & .sidebar-logo {
            width: 32px;
            height: 32px;
            font-size: 32px;
            vertical-align: middle;
        }

        & .title-box {
            @include flex(column, nowrap, center, flex-start, center);
            margin-left: 6px;
            color: #4b6bf6;

            .title {
                font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: bolder;
                line-height: 14px;
                vertical-align: middle;
            }

            .website {
                font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
                font-size: 12px;
                line-height: 12px;
                vertical-align: middle;
            }
        }
    }
}