

// 去掉菜单的边框
.el-menu {
    border: none;
    border-right: none !important;
}
// 解决按钮的图标和文字不一样大导致的问题
.el-dropdown > .el-dropdown--small > .el-button-group{
    display: inline-block;

    > .el-button.el-button--small{
        float: left;
    
        span {
            line-height: 14px;
        }
    
        &.el-dropdown__caret-button > span > .el-icon.el-dropdown__icon{
            font-size: 13px;
            line-height: 14px;
        }
    }
}


// 设置子菜单的颜色
.el-menu--collapse .el-sub-menu.is-active i {
    color: $menu-active-text !important;
}


// 设置el-select的最大宽度并且子项文字溢出后可上下滚动
.el-select__popper.el-popper{
    .el-select-dropdown{
        max-width: 230px;

        .el-select-dropdown__item{
            @include flex(row,nowrap,space-between,center,center);
            overflow-y: auto;
            text-overflow: clip;
            white-space: normal;

            span{
                font-size: var(--el-font-size-base);
                line-height: var(--el-font-size-base);
                word-break: break-all;
                word-wrap: break-word;
                white-space: normal;
            }
        }
    }
}


//设置时间选择器禁止选中的颜色
.el-date-range-picker {

    .el-date-table__row {

        .in-range {

            div {
                background-color: #e7effc;
            }
        }

        .disabled {

            div {
                background-color: #f4f5f6;
            }
        }
    }
}

// 解决输入框部分图标（如删除图标）没有居中的bug
.el-input.el-input--suffix {
   
    .el-input__prefix{
        .el-input__prefix-inner{
            @include flex(row,nowrap,center,center,center);
            padding: 0px 4px;
        }
    }

    .el-input__suffix{
        .el-input__suffix-inner{
            @include flex(row,nowrap,center,center,center);
        }
    }
}


//  解决 size为small多选时size变大
.el-select.el-select--small{
    .select-trigger{
        .el-select__tags{
            .el-select__input.is-small{
                height: 22px;
            }
        }
    }
}

// 解决时间选择器宽度默认不为100%
.el-date-editor.el-input,
.el-date-editor.el-input__inner{
    width: 100%;
}
// 解决时间选择器单选是图标问题
.el-date-editor {

    .el-input__prefix{
        //单选时图标
        left: 4px;
    }

    .el-icon.el-input__icon.el-range__icon{
        // 多选时图标
        margin-left: -2px;
    }

    .el-icon.el-range__close-icon{
        //  删除图标
        margin-right: -4px;
    }
}

// 横向滚动条宽度
.el-scrollbar .el-scrollbar__bar.is-horizontal{
    height: $scrollbar-bar !important;
}
// 纵向滚动条宽度
.el-scrollbar .el-scrollbar__bar.is-vertical{
    width: $scrollbar-bar - 1px !important;
}