// el-space 的默认间距也为此值
$my-el-space-width:8px;
// small 的按钮的高度
$my-el-small-butt-height:24px;
$my-el-select-item-height:34px;
$bg:#f4f9fd;
$zsd:#409eff;

// 行为
$color-dj:#409eff;

/** 主色调 **/
$zsd1:#409eff;
$zsd2:#54a8ff;
$zsd3:#69b3ff;
$zsd4:#7ebdff;
$zsd5:#93c8ff;

$error:#f56c6c;
$err-bg-hover: #f78989;
$err-bg-active: #f23c3c;

$success: #67c23a;
$success-bg: #f0f9eb;
$success-border: #e1f3d8;
$warning:#e6a23c;
$info:#409eff;

$color-22:#222222;
$color-33:#333333;
$color-44:#444444;
$color-55:#555555;
$color-66:#666666;
$color-99:#999999;

$bg-f8:#f8f8f8;
$bg-ff:#ffffff;

$shadow:rgba(196, 203, 214, 0.3);
$box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

$input-hover-border:#c0c4cc;
$text-color-placeholder:#c0c4cc;
$border-10:10px;
$border-5:5px;
$border-3:3px;

$border-color:$bg;

$margin-15:15px;
$margin-5:5px;
$padding-10:10px;


$font-13:13px;
$font-18:18px;

$box-shadow:0 6px 58px $shadow;


$tabs-view-height: 36px;
$header-height: 74px;
$scrollbar-bar:12px;

// 侧边导航栏
$menu-text:$color-66;
$menu-active-text:$zsd;
$menu-bg:#ffffff;
$menu-active-bg:#e2eeff;
$menu-hover-bg: #eff3fb;
$menu-hover-text: #515a6e;
